.page {
  background: linear-gradient(90deg, rgb(219, 171, 216), rgb(20, 56, 115));
}

.search-form div {
  padding: 10px;
}

div,
table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 20px 20px;
  display: flex;
  border-bottom: solid 1px #fff;
}

.header-title {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 15px;
  color: rgb(255, 255, 255);
}

.icon {
  color: white;
  font-size: 200%;
}

h1 {
  margin: auto;
}

table {
  border-collapse: collapse;
  padding: 40px;
  width: 890px;
  table-layout: fixed;
}

table tr th {
  color: #092f82;
  border-bottom: 1px solid #092f82;
}

table tr {
  background-color: #fff;
  padding: 0.35em;
  border-bottom: 1px dotted #092f82;
}

table th,
table td {
  padding: 1em 10px 1em 1em;
}

table tr:last-child {
  border-bottom: 2px solid #092f82;
}

.lecture-name {
  width: 50%;
  min-width: 400px;
}

.search-form {
  padding: 50px;
  margin: 25px 30px 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.628);
}

.check-box-1 label {
  margin-bottom: 10px;
}

.text-input {
  outline: none;
  height: 30px;
  width: 200px;
  padding: 0 10px;
  border-radius: 4px;
}

.input-button:hover {
  background-color: white;
  color: rgba(20, 56, 115, 0.5);
  transform: scale(1.1);
}

.input-button {
  width: 60px;
  height: 30px;
  margin: 10px;
  border-radius: 4px;
  background: rgba(20, 56, 115, 0.5);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}

.reset-button:hover {
  background: #fff;
  color: rgba(20, 56, 115, 0.5);
  transform: scale(1.1);
}

.reset-button {
  width: 60px;
  height: 30px;
  margin: 10px 10px 10px 0px;
  border-radius: 4px;
  background: rgb(166, 167, 181);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 12px;
  transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}
