

.search-form div {
  padding: 10px
}

div, table {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.header {
  font-family: 'Julius Sans One', sans-serif;
  padding: 20px 20px;
  background-color: #092F82;
  color: white;
}

h1 {
  margin: auto;
}

.search-form {
  margin: auto;
}

table {
  border-collapse: collapse;
  padding: 40px;
  width: 890px;
  table-layout: fixed;
}

table tr th {
  color: #092F82;
  border-bottom: 1px solid #092F82;
}

table tr {
  background-color: #fff;
  padding: .35em;
  border-bottom: 1px dotted #092F82;
}

table th,
table td {
  padding: 1em 10px 1em 1em;
}


table tr:last-child {
  border-bottom: 2px solid #092F82;
}

.lecture-name {
  width: 50%;
  min-width: 400px
}

.search-form {
  padding: 50px;
  margin: 30px;
  border-radius: 10px;
  background-color: #F0F0F2;
}

.check-box-1 label {
  margin-bottom: 10px;
}

.text-input {
  outline: none;
  height:30px;
  width: 200px;
  padding:0 10px;
  border-radius: 4px;
}

.input-button:hover {
  background-color: #0073ff;
  cursor: pointer;
}

.input-button {
  width:80px;
  height:30px;
  margin: 10px;
  border-radius:4px;
  background: #0A2E82;
  color: white;
  border:none;
  font-weight:bold;
  font-size:16px;
}

.reset-button:hover {
  background-color: #353b42;
  cursor: pointer;
}

.reset-button {
  width:80px;
  height:30px;
  margin: 10px 10px 10px 0px;
  border-radius:4px;
  background: gray;
  color: white;
  border:none;
  font-weight:bold;
  font-size:16px;
}
